.navbar ul{
    background: #4e5185;
    display: flex;
    padding: 0;
    list-style: none;
    text-align: right;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    width: 85px;
    display: block;
    padding: 30px 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 14px;
    margin-top: -20px;
}